<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wheeltype_mapper">
    <select id="getWheelType" resultMap="wheeltype_map">
        SELECT *
        FROM wheels
    </select>
    <resultMap id="wheeltype_map" type="race.wheel.Wheel" autoMapping="false"> <!--ResultMap представляет из себя описание правил связи полей EntityBean с колонками из таблиц-->
        <result property="wheeltype" column="type"/> <!--wheeltype нет в программе, т.к. другая логика-->
    </resultMap>
</mapper>